[submodule "themes/not-much"]
	path = themes/not-much
	url = https://github.com/imgios/not-much.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
